<!DOCTYPE html>

<html th:replace="~{fragments/AuthenticatedLayout :: layout(~{::title}, ~{::section})}">
    <head>
        <title>Etapy</title>
    </head>
    <body>
        <section>
            <div class="flex justify-between items-center pb-4">
                <h2 class="text-3xl font-semibold py-4">Etapy</h2>
                <form class="flex gap-2 items-end" th:method="POST" th:object="${stageDTO}" th:action="@{/stages}">
                    <div>
                        <label for="name" class="py-2">Nazwa:</label> 
                        <input th:field="${stageDTO.name}" id="name" class="w-full border border-gray-300 rounded transition duration-150 hover:border-gray-400 py-1 px-2"></input>
                        <p th:if="${#fields.hasErrors('name')}" th:errorclass="text-red-500" th:errors="${stageDTO.name}"></p>
                    </div>
                    <div>
                        <button type="submit" class="px-4 py-2 rounded-lg bg-green-600 hover:bg-green-700 transition duration-150 text-white cursor-pointer">Dodaj etap</button>
                    </div>
                </form>
            </div>
            <div class="grid grid-cols-1 gap-4">
                <div th:each="stage, iStat: ${stages}" class="p-8 border border-gray-300 rounded-xl">
                    <h3 class="flex items-center gap-4">
                        <span class="text-xl" th:text="${stage.name}"></span>
                        <form th:method="delete" th:action="@{/stages/{id}(id=${stage.id})}">
                            <button type="submit" class="px-2 py-1 rounded-lg hover:text-red-700 transition duration-150 text-red-600 cursor-pointer">Usuń</button>
                        </form>
                    </h3>
                    <div class="w-full flex justify-center items-center flex-col py-8">
                        <img th:src="@{/img/empty-inbox-svgrepo-com.svg}" class="h-20 opacity-60"/>
                        <p class="text-slate-600 text-lg py-2">Nie przypisano firm do etapu</p>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(stages)}" class="w-full flex justify-center items-center flex-col py-8">
                <img th:src="@{/img/empty-inbox-svgrepo-com.svg}" class="h-20 opacity-60"/>
                <p class="text-slate-600 text-lg py-2" th:text="${filterDTO.filter} ? 'Nie znaleziono etapów spełniających kryteria' : 'Nie dodano etapów'">Nie dodano etapów</p>
            </div>
        </section>
    </body>
</html>