<!DOCTYPE html>

<html th:replace="~{fragments/AuthenticatedLayout :: layout(~{::title}, ~{::section})}">
    <head>
        <title>Nowa firma - Svl3s Funn3l</title>
    </head>
    <body>
        <section>
            <a href="/companies" class="text-slate-500">Wróć do listy firm</a>
            <h2 class="text-3xl font-semibold pt-2 pb-4">Nowa firma</h2>
            <form class="flex flex-col" method="post" th:object="${companyDTO}" th:action="@{/companies}" >

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <label for="name" class="py-2">Nazwa:</label> 
                <input th:field="${companyDTO.name}" id="name" class="w-full border border-gray-300 rounded transition duration-150 hover:border-gray-400 py-1 px-2"></input>
                <p th:if="${#fields.hasErrors('name')}" th:errorclass="text-red-500" th:errors="${companyDTO.name}"></p>

                <label for="shortname" class="py-2">Nazwa skrócona:</label> 
                <input th:field="${companyDTO.shortname}" id="shortname" class="w-full border border-gray-300 rounded transition duration-150 hover:border-gray-400 py-1 px-2"></input>
                <p th:if="${#fields.hasErrors('shortname')}" th:errorclass="text-red-500" th:errors="${companyDTO.shortname}"></p>

                <label for="identificationNumber" class="py-2">Numer identyfikacji:</label> 
                <input th:field="${companyDTO.identificationNumber}" id="identificationNumber" class="w-full border border-gray-300 rounded transition duration-150 hover:border-gray-400 py-1 px-2"></input>
                <p th:if="${#fields.hasErrors('identificationNumber')}" th:errorclass="text-red-500" th:errors="${companyDTO.identificationNumber}"></p>

                <label for="shareCapital" class="py-2">Kapitał zakładowy:</label> 
                <input th:field="${companyDTO.shareCapital}" id="shareCapital" type="number" class="w-full border border-gray-300 rounded transition duration-150 hover:border-gray-400 py-1 px-2"></input>
                <p th:if="${#fields.hasErrors('shareCapital')}" th:errorclass="text-red-500" th:errors="${companyDTO.shareCapital}"></p>

                <div class="pt-4 flex justify-center items center gap-4">
                    <a href="/companies"><button type="button" class="px-4 py-2 rounded-lg bg-white hover:bg-gray-50 transition duration-150 text-slate-700 cursor-pointer border">Anuluj</button></a>
                    <button type="submit" class="px-4 py-2 rounded-lg bg-green-600 hover:bg-green-700 transition duration-150 text-white cursor-pointer">Dodaj firmę</button>
                </div>
            </form>
        </section>
    </body>
</html>