<!DOCTYPE html>

<html th:fragment="layout (title, content, h2)" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:replace="${title}">Layout title</title>
        <link th:href="@{/css/main.css}" rel="stylesheet" /> 
    </head>
    <body> 
        <section class="h-svh w-svw flex bg-green-100">
            <div class="shadow-xl rounded-xl w-[30%] m-auto py-4 px-8 bg-white">
                <h2 class="text-2xl font-semibold py-2 text-slate-800"> 
                    <a href="/">
                        <img th:src="@{/img/logo.svg}" class="h-28 m-auto"/>
                    </a>
                    <span th:text="${h2}"></span>
                </h2>
                <div th:replace="${content}"></div>
            </div>
        </section>
    </body>
</html>