<!DOCTYPE html>

<html th:replace="~{fragments/GuestLayout :: layout(~{::title}, ~{::form}, Rejestracja)}">
    <head>
        <title>Rejestracja - Svl3s Funn3l</title>
    </head>
    <body>
        <form class="flex flex-col" method="post" th:object="${registerDTO}">

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <label for="login" class="py-2">Email:</label> 
            <input th:field="${registerDTO.email}" id="login" class="w-full border border-gray-300 rounded transition duration-150 hover:border-gray-400 py-1 px-2"></input>
            <p th:if="${#fields.hasErrors('email')}" th:errorclass="text-red-500" th:errors="${registerDTO.email}"></p>
            
            <label for="password" class="py-2">Hasło:</label> 
            <input th:field="${registerDTO.password}" id="password" type="password" class="w-full border border-gray-300 rounded transition duration-150 hover:border-gray-400 py-1 px-2"></input>
            <p th:if="${#fields.hasErrors('password')}" th:errorclass="text-red-500" th:errors="${registerDTO.password}"></p>
            
            <label for="confirmPassword" class="py-2">Powtórz hasło:</label> 
            <input th:field="${registerDTO.confirmPassword}" id="confirmPassword" type="password" class="w-full border border-gray-300 rounded transition duration-150 hover:border-gray-400 py-1 px-2"></input>
            <p th:if="${#fields.hasErrors('confirmPassword')}" th:errorclass="text-red-500" th:errors="${registerDTO.confirmPassword}"></p>
            
            <div class="pt-4 flex justify-center items center gap-4">
                <a href="/login"><button type="button" class="px-4 py-2 rounded-lg bg-white hover:bg-gray-50 transition duration-150 text-slate-700 cursor-pointer border">Anuluj</button></a>
                <button type="submit" class="px-4 py-2 rounded-lg bg-green-600 hover:bg-green-700 transition duration-150 text-white cursor-pointer">Zarejestruj</button>
            </div>
        </form>
    </body>
</html>